<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin User Page</title>

    <link rel="stylesheet" href="../../static/css/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="tablet-desktop">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </nav>

    <h1>Admin Account Information</h1>
    <p>Name: Admin User</p>
    <p>Email: gwcampusfit@club.net</p>
    <a href="edit-video.html">Edit Video Content</a>
    <a href="edit-account.html">Edit Account Information</a>
    <a href="dashboard.html">Website Dashboard</a>
  </body>
</html>
