<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Video Content</title>

    <
    <link rel="stylesheet" href="../../static/css/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="tablet-desktop">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </nav>
    <h1>Edit Video Content</h1>
    <form action="#" method="post">
      <label for="videoTitle">Video Title:</label>
      <input type="text" id="videoTitle" name="videoTitle" /><br /><br />
      <label for="videoDescription">Video Description:</label>
      <textarea id="videoDescription" name="videoDescription"></textarea>
      <button type="submit">Save Changes</button>
    </form>
  </body>
</html>
