<!DOCTYPE html>
<!-- This website template was created by: Team 100 -->
<html lang="en">
<head>
    <title>Complete Fitness - Free Trial | Forward Fitness Club</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <!-- Google Font Reddit Mono -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap" rel="stylesheet">

    <meta name="description" content="The Forward Fitness Club is an elite fitness center dedicated to helping clients achieve their fitness and nutrition goals.">
</head>
<body>

<div id="container">

    <!-- Use the header area for the website name or logo -->
    <header id="ffc-logo">
        <a href="index.html"><img src="/images/logo.png" alt="Forward Fitness Club logo"></a>
    </header>

    <!-- Tablet, Desktop Nav -->
    <nav class="tablet-desktop">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>

    <!-- Use the main area to add the main content of the webpage -->
    <main>

        <div class="mobile">

            <h3 style = "text-align: center">FREE One-Week Trial Membership!</h3>
            <p style = "text-align: center"> Join Us Today to Get Started</p>

            <div class="button-container">
                <a href="/login" class="btn btn-primary">Login</a>
                <a href="/register" class="btn btn-secondary">Signup</a>
            </div>


        </div>

        <div class="tablet-desktop">

            <p style="font-weight: bold">Welcome to GW CampusFit. Our mission is to help GWU Students meet their fitness goals.</p>

            <p>● If you have struggled with finding workout partners, researching fitness courses, or searching fitness center near campus. Join us today!</p>

            <p>● We provide a FREE one-week membership so you can experience the benefits of our platform.
                This one-week trial gives you complete access to our extensive features.
                Register today to <span class="action">start your free trial!</span></p>

        </div>

        <div class="grid">

            <figure class="frame">
                <img src="/images/workout-partner.jpeg" alt="group of fitness people">
                <figcaption class="pic-text">Workout Partners</figcaption>
            </figure>

            <figure class="frame">
                <img src="/images/online-class.png" alt="healthy food in the shape of a heart">
                <figcaption class="pic-text">Online Workshops</figcaption>
            </figure>

            <figure class="frame">
                <img src="/images/fitness-center.png" alt="personal trainer with a clipboard">
                <figcaption class="pic-text">Nearby Fitness Center</figcaption>
            </figure>

        </div>



    </main>

    <!-- Use the footer area to add webpage footer content -->
    <footer>

        <div class="copyright">
            <p>@ George Washington University | GW CampusFit</p>
            <p><a href="mailto:gwcampusfit@club.net">gwcampusfit@club.net</a></p>
        </div>

    </footer>

</div>

<script src="scripts/script.js"></script>

</body>
</html>
