<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>GW CampusFit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <style>
        body {
            background-color: bisque;

        }
        footer {
            background-color: #033C5A;
            color: #fff;
            text-align: center;
            padding: 1rem;

        }
        </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color:#033C5A !important;">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">GW CampusFit</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br /><br /><br />
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Registration</h2>
            </div>
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You have successfully registered our app!
                </div>
            </div>
            <div class="card-body">
                <form
                        method="post"
                        role="form"
                        th:action="@{/register/save}"
                        th:object="${user}"
                >
                    <div class="form-group mb-3">
                        <label class="form-label">Full Name</label>
                        <input
                                class="form-control form-control-sm"
                                id="fullName"
                                name="fullName"
                                placeholder="Enter full name"
                                th:field="*{fullName}"
                                type="text"
                        />
                        <p th:errors = "*{fullName}" class="text-danger"
                           th:if="${#fields.hasErrors('fullName')}"></p>
                    </div>


                <div class="form-group mb-3">
                        <label class="form-label">Email</label>
                        <input
                                class="form-control form-control-sm"
                                id="email"
                                name="email"
                                placeholder="Enter email address"
                                th:field="*{email}"
                                type="email"
                        />
                        <p th:errors="*{email}" class="text-danger" th:if="${#fields.hasErrors('email')}" ></p>
                        <!-- Add additional validation message for individual user type -->
                        <p class="text-danger" th:if="${#fields.hasErrors('email') && user.userType == 'INDIVIDUAL' && !#fields.hasErrors('email', 'endsWith')}">Email must end with @gwu.edu</p>
                    </div>


                    <div class="form-group mb-3">
                        <label class="form-label">Password</label>
                        <input
                                class="form-control form-control-sm"
                                id="password"
                                name="password"
                                placeholder="Enter password"
                                th:field="*{password}"
                                type="password"
                        />
                        <p th:errors = "*{password}" class="text-danger"
                           th:if="${#fields.hasErrors('password')}"></p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">User Type</label><br>
                        <input type="radio" id="individual" name="userType" value="INDIVIDUAL" >
                        <label for="individual">Individual</label><br>
                        <input type="radio" id="business" name="userType" value="BUSINESS" >
                        <label for="business">Business</label><br>
                    </div>

                    <!-- Company Address field -->
                    <div class="form-group mb-3" id="companyAddressField" style="display: none;">
                        <label class="form-label">Company Address</label>
                        <input class="form-control" id="companyAddress" name="companyAddress"
                               placeholder="Enter company address" th:field="*{companyAddress}" type="text"/>
                        <p th:errors="*{companyAddress}" class="text-danger"
                           th:if="${#fields.hasErrors('companyAddress')}"></p>
                    </div>

                    <!-- Business Registration Number field -->
                    <div class="form-group mb-3" id="businessRegistrationNumberField" style="display: none;">
                        <label class="form-label">Business Registration Number</label>
                        <input class="form-control" id="businessRegistrationNumber" name="businessRegistrationNumber"
                               placeholder="Enter business registration number" th:field="*{businessRegistrationNumber}" type="text"/>
                        <p th:errors="*{businessRegistrationNumber}" class="text-danger"
                           th:if="${#fields.hasErrors('businessRegistrationNumber')}"></p>
                    </div>
                    <div class="form-group mb-3">
                        <button class="btn btn-primary" type="submit">Register</button>
                        <span>Already registered? <a href="/" th:href="@{/login}">Login
                             here</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener('DOMContentLoaded', function () {
        const individualRadioButton = document.getElementById('individual');
        const businessRadioButton = document.getElementById('business');
        const companyAddressField = document.getElementById('companyAddressField');
        const businessRegistrationNumberField = document.getElementById('businessRegistrationNumberField');

        // Add event listeners to radio buttons to toggle visibility of fields
        individualRadioButton.addEventListener('change', function () {
            if (this.checked) {
                companyAddressField.style.display = 'none';
                businessRegistrationNumberField.style.display = 'none';
            }
        });

        businessRadioButton.addEventListener('change', function () {
            if (this.checked) {
                companyAddressField.style.display = 'block';
                businessRegistrationNumberField.style.display = 'block';
            }
        });
    });
    /*]]>*/
</script>
</body>
<footer>

    <div class="copyright">
        <p>@ George Washington University | GW Fitness</p>
        <p><a href="mailto:gwfitness@club.net">gwfitness@club.net</a></p>
    </div>

</footer>
</html>
